        * {
            margin: 0;
            padding: 0;
        }
        
        .card {
            border-radius: 15px;
        }
        
        .slider-aria {
            background-color: #FEEAE9;
        }
        
        .product-categories-name h2 {
            text-transform: capitalize;
            color: #fff;
        }
        
        .watch {
            background-image: linear-gradient(to right, #FF9C35, #FFD019);
        }
        
        .bag {
            background-image: linear-gradient(to right, #FF589B, #FF136F);
        }
        
        .shoes {
            background-image: linear-gradient(to right, #4289FF, #3F07F8);
        }
        
        .categories-image img {
            width: 78px;
            height: 90px;
        }
        
        .subscribe {
            height: 350px;
            width: 100%;
            margin-top: 100px;
            background-color: #FEEAE9;
            text-align: center;
        }
        
        .subscribe .subscribe-text-and-other {
            text-align: center;
            width: 100%;
        }
        
        .subscribe-text-and-other h1 {
            text-transform: uppercase;
        }
        
        .subscribe-text-and-other input {
            display: block;
            width: 40%;
            margin: 0 auto;
            padding: 9px 0;
            padding-left: 10px;
            border-radius: 10px;
            border: none;
        }
        
        .subscribe-text-and-other input:focus {
            outline: none;
            border: 10px solid #eee;
            border-radius: 15px;
        }